# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.pyo
*.pdb

# Virtual environment
env/
venv/

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Static files
/static/
staticfiles/
*.svg
*.png
*.jpg
*.jpeg
*.gif

# Media files
/media/
mediafiles/

# VSCode/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Environment variables
.env

