<!-- base.html -->
<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Attendly{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

{% if user.is_authenticated %}
  <div class="header-bar">
    <div class="header-left">
      {% if user.first_name %}
        Привет, <strong>{{ user.first_name }}</strong>!
      {% else %}
        Привет, <strong>Администратор</strong>!
      {% endif %}
    </div>
    <div class="header-right">
      <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Выйти</button>
      </form>
    </div>
  </div>
{% endif %}

{% block content %}{% endblock content %}

</body>
</html>
