{% extends "front/base.html" %}
{% load static %}

{% block title %}Вход{% endblock title %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center; justify-content: flex-start; height: 100vh; text-align: center; padding-top: 10vh;">
    <div id="site-branding" style="margin-bottom: 20px;">
        <a href="{% url 'admin:index' %}" style="text-decoration: none; color: white; display: flex; align-items: center; gap: 10px;">
            <img src="{% static 'img/logo.png' %}" alt="Логотип" style="height: 50px;">
            <span class="site-title" style="font-size: 22px; font-weight: bold;">VK & Attendly</span>
        </a>
    </div>
    <h1 style="font-size: 24px;">Пожалуйста, войдите</h1>

    <form method="post" style="width: 90%; max-width: 400px; display: flex; flex-direction: column; align-items: center; gap: 10px;">
        {% csrf_token %}
        <div style="width: 100%; text-align: left;">
            {{ form.as_p }}
        </div>
        <button type="submit" style="width: 100%; background-color: #5181B8; color: #fff; align-items: center;border: none; padding: 16px; border-radius: 8px; cursor: pointer; font-size: 18px; height: 50px;">
            Войти
        </button>
    </form>
</div>
{% endblock content %}
